<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="edit-page">
    <!-- Include Sidebar -->
    <%- include('partials/topnav') %>
    <div class="content edit-content">
        <h1>Edit Item</h1>
        <form action="/edit_asset" method="POST">
            <% if (item) { %>
                <% Object.keys(item).forEach(key => { %>
                    <% if (key !== '_id') { %>
                        <label for="<%= key %>"><%= key %></label>
                        <input type="text" id="<%= key %>" name="<%= key %>" value="<%= item[key] %>">
                    <% } %>
                <% }) %>
            <% } %>
            <input type="hidden" name="itemId" value="<%= item._id %>">
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>
